<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidxs a MercadoLiebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home-styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo de mercado liebre"></a>
            </div>
            <div class="form" action="#" method="GET">
                <input class="input" placeholder="Buscar aquí">
                <button class="submit"><i class="fas fa-search"></i></button>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
        </div>
        <nav>
            <div>
                <ul class="nav-ml">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="/new-product">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>
            <div>
                <ul class="nav-user">
                    <li><a href="/register">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresar <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section class="banner">
        <img src="/img/img-home-banner.jpg" alt="banner">
    </section>
    <main>
        <section>
            <h3>Basado en tu ultima visita</h3>
            <div class="productos">
                <article class="container">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripcion">Cafetera moulinex</h4>
                    </div>
                </article>
                <article class="container">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="container">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="container">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43&quot;">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h3>Sección de ofertas</h3>
            <div class="productos">
                <article class="container">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripcion">Cafetera moulinex</h4>
                    </div>
                </article>
                <article class="container">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="container">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="container">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43&quot;">
                    <div class="articulo-principal">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenido">
            <section class="container">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="container">
                <i class="fa fa-gift"></i>
                <h4>Envío gratis desde los $2.500</h4>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="container">
                <i class="fa fa-user-shield"></i>
                <h4>Seguridad de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="container">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </section>
    </footer>
</body>
</html>