/*ESTILO DEL FORMULARIO*/
.formulario-de-registro{
    padding: 5px;
    margin: 5px;
}

.create-form{
    padding: 20px 15px;
}

.control-de-formulario{
    margin-bottom: 15px; 
}

.control-de-formulario label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control{
    width: 100%;
    padding: 8px;
}

.form-button{
    background-color: #0044AA;
    border: none;
    font-size: 20;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    display: block;
}

.section{
    justify-content: center;
    align-items: center;
}

.campo{
    display: block;
    width: 80%;
    margin: 15px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
}
